*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Arial";
  color: #fff;
  min-height: 100vh;
  background: linear-gradient(rgb(15, 154, 224), rgb(14, 78, 181));
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

.container{
  margin-top: 50px;
  width: 960px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

@media screen and (max-width: 960px){
  .container{
    width: 100vw;
    margin-top: 0;
  }
}