.register-header{
  width: 700px;
  padding: 30px;
  text-align: center;
  margin-top: 20px;
}

.register-form{
  margin: 20px 0 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  padding: 20px;
  box-shadow: 4px 4px 5px 0px gray;
}
.register-form input{
  height: 20px;
  text-align: center;
}

.space{
  margin-top: 12px;
}

.rules-div{
  display: flex;
  align-items: center;
}

.rules-label{
  font-size: 14px;
  margin-left: 10px;
}

.rules-button{
  font-size: 12px;
  padding: 2px 5px;
  margin-top: 10px;
}

.register-captcha{
  margin: 30px 0 20px 0;
}

.register-button{
  margin-top: 20px;
  font-size: 18px;
  padding: 5px 10px;
}

.register-modal{
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: none;
  justify-content: center;
  align-items: center;
  background: gray;
}

.register-modal-button{
  width: 30px;
  height: 30px;
  text-align: center;
  background: #fff;
  cursor: pointer;
  font-size: 24px;
  font-weight: 700;
}

.error-input{
  border: 1px solid red;
}

.warning-window{
  position:fixed;
  width: 600px;
  height: 60px;
  top: -60px;
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  background: #fff;
  border: 1px solid red;
}